<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>E mail</th>
    <th>Password</th>
    <th>Status</th>
    <th>Full name</th>
    <th>About</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.name %></td>
    <td><%= account.e_mail %></td>
    <td><%= account.password %></td>
    <td><%= account.status %></td>
    <td><%= account.full_name %></td>
    <td><%= account.about %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
